<div class="tab-pane fade show active" id="cust" ng-controller="Cust_Controller">
    <table border="0" class=bluetable cellspacing="1" cellpadding="2" style="font-size: 9pt" width="100%">
        <tr>
            <td class=lightbluetable align="right">客戶編號：</td>
            <td class=whitetablebg>
                <input type="text" ng-model="Cust.cust_area" size="1" readonly class="sedit" value="">-
                <input type="text" ng-model="Cust.cust_seq" size="6">
                <input type=button class="sgreenbutton" ng-click="selectCust(Cust.cust_area,Cust.cust_seq)" value="確定">
            </td>
            <td class=lightbluetable align="right">客戶國籍：</td>
            <td class=whitetablebg>
                <select ng-model="Cust.ap_country" size=1 disabled>
                    <option value="" style="color:blue"></option>
                    <option ng-repeat="t in optCountry" value="{{t.coun_code}}">{{t.coun_code}}-{{t.coun_c}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class=lightbluetable align=right width=16%>客戶種類：</td>
            <td class=whitetablebg>
                <input type=hidden ng-model="Cust.apclass" class="sedit" readonly size="30">
                <input type=text class="sedit" readonly size="30" value="{{Cust.apclass+' '+Cust.apclassnm}}">
            </td>
            <td class=lightbluetable align="right" width="15%">客戶群組：</td>
            <td class=whitetablebg><input type=text ng-model="Cust.ref_seq" class="sedit" readonly></td>
        </tr>
        <tr>
            <td class=lightbluetable align=right>統一編號：</td>
            <td class=whitetablebg colspan=3><input type=text ng-model="Cust.id_no" size=12 maxlength=10 class="sedit" readonly></td>
        </tr>
        <tr>
            <td class=lightbluetable align=right>客戶名稱：</td>
            <td class=whitetablebg colspan=3>
                <input type=text ng-model="Cust.ap_cname1" size=44 maxlength=60 class="sedit" readonly>
                <input type=text ng-model="Cust.ap_cname2" size=44 maxlength=60 class="sedit" readonly>
            </td>
        </tr>
        <tr>
            <td class=lightbluetable align=right>英文名稱：</td><!--2016/1/7修改申請人英文名稱長度為100-->
            <td class=whitetablebg colspan=3>
                <input type=text ng-model="Cust.ap_ename1" size=60 maxlength=100 class="sedit" readonly>
                <input type=text ng-model="Cust.ap_ename2" size=60 maxlength=100 class="sedit" readonly>
            </td>
        </tr>
        <tr>
            <td class=lightbluetable align=right>代表人(中)：</td>
            <td class=whitetablebg colspan=3><input type=text ng-model="Cust.ap_crep" size=20 maxlength=20 class="sedit" readonly></td>
        </tr>
        <tr>
            <td class=lightbluetable align=right>代表人(英)：</td>
            <td class=whitetablebg colspan=3><input type=text ng-model="Cust.ap_erep" size=40 maxlength=40 class="sedit" readonly></td>
        </tr>
        <tr>
            <td class=lightbluetable align=right>証照地址(中)：</td><!--2016/1/7修改申請人中英文證照地址長度為120-->
            <td class=whitetablebg colspan=3>
                (<input type=text ng-model=Cust.ap_zip size=8 maxlength=8 class="sedit" readonly>)<br>
                <input type=text ng-model=Cust.ap_addr1 size=103 maxlength=120 class="sedit" readonly>
                <input type=text ng-model=Cust.ap_addr2 size=103 maxlength=120 class="sedit" readonly>
            </td>
        </tr>
        <tr>
            <td class=lightbluetable align=right>登記地址(英)：</td>
            <td class=whitetablebg colspan=3>
                <input type=text ng-model=Cust.ap_eaddr1 size=103 maxlength=120 class="sedit" readonly><br>
                <input type=text ng-model=Cust.ap_eaddr2 size=103 maxlength=120 class="sedit" readonly><br>
                <input type=text ng-model=Cust.ap_eaddr3 size=103 maxlength=120 class="sedit" readonly><br>
                <input type=text ng-model=Cust.ap_eaddr4 size=103 maxlength=120 class="sedit" readonly>
            </td>
        </tr>
        <tr>
            <td class=lightbluetable align="right">公司網址：</td>
            <td class=whitetablebg colspan=3><input type=text ng-model=Cust.www size=40 maxlength=40 class="sedit" readonly></td>
        </tr>
        <tr>
            <td class=lightbluetable align="right">公司電子郵件：</td>
            <td class=whitetablebg colspan=3><input type=text ng-model=Cust.email size=40 maxlength=40 class="sedit" readonly></td>
        </tr>
        <tr>
            <td class=lightbluetable align="right">商標對帳聯絡人：</td>
            <td class=whitetablebg><input type=text ng-model=Cust.tacc_attention size=40 maxlength=60 class="sedit" readonly></td>
            <td class=lightbluetable align="right">商標對帳聯絡人職稱：</td>
            <td class=whitetablebg><input type=text ng-model=Cust.tacc_title size=40 maxlength=40 class="sedit" readonly></td>
        </tr>
        <tr>
            <td class=lightbluetable align="right">商標對帳電子郵件：</td>
            <td class=whitetablebg colspan=3><input type=text ng-model=Cust.tacc_email size=80 maxlength=100 class="sedit" readonly></td>
        </tr>
        <tr>
            <td class=lightbluetable align="right">商標對帳地址：</td>
            <td class=whitetablebg colspan=3>
                (<input type=text ng-model=Cust.tacc_zip size=8 maxlength=8 class="sedit" readonly>)
                <input type="text" ng-model="Cust.tacc_addr1" size="47" maxlength="60" class="sedit" readonly>
                <input type="text" ng-model="Cust.tacc_addr2" size="47" maxlength="60" class="sedit" readonly>
            </td>
        </tr>
        <tr>
            <td class=lightbluetable align="right">商標會計電話：</td>
            <td class=whitetablebg>
                (<input type=text ng-model=Cust.tacc_tel0 size=4 maxlength=4 class="sedit" readonly>)
                <input type=text ng-model=Cust.tacc_tel size=10 maxlength=10 class="sedit" readonly>-
                <input type=text ng-model=Cust.tacc_tel1 size=5 maxlength=5 class="sedit" readonly>
            </td>
            <td class=lightbluetable align="right">商標會計傳真：</td>
            <td class=whitetablebg><input type=text ng-model=Cust.tacc_fax size=15 maxlength=15 class="sedit" readonly></td>
        </tr>
        <tr>
            <td class=lightbluetable align="right">專利對帳地址：</td>
            <td class=whitetablebg colspan=3>
                (<input type=text ng-model=Cust.acc_zip size=8 maxlength=8 class="sedit" readonly>)
                <input type="text" ng-model="Cust.acc_addr1" size="47" maxlength="60" class="sedit" readonly>
                <input type="text" ng-model="Cust.acc_addr2" size="47" maxlength="60" class="sedit" readonly>
            </td>
        </tr>
        <tr>
            <td class=lightbluetable align="right">專利會計電話：</td>
            <td class=whitetablebg>
                (<input type=text ng-model=Cust.acc_tel0 size=4 maxlength=4 class="sedit" readonly>)
                <input type=text ng-model=Cust.acc_tel size=10 maxlength=10 class="sedit" readonly>-
                <input type=text ng-model=Cust.acc_tel1 size=5 maxlength=5 class="sedit" readonly>
            </td>
            <td class=lightbluetable align="right">專利會計傳真：</td>
            <td class=whitetablebg><input type=text ng-model=Cust.acc_fax size=15 maxlength=15 class="sedit" readonly></td>
        </tr>
        <tr>
            <td class=lightbluetable align="right">郵寄雜誌：</td>
            <td class=whitetablebg colspan=3><input type=text ng-model=Cust.mag size=10 maxlength=15 class="sedit" readonly></td>
        </tr>
        <tr>
            <td class=lightbluetable align="right">顧問種類：</td>
            <td class=whitetablebg>
                <select ng-model="Cust.con_code" size=1 disabled>
                    <option value="" style="color:blue">請選擇</option>
                    <option ng-repeat="t in optConCode" value="{{t.cust_code}}">{{t.cust_code}}---{{t.code_name}}</option>
                </select>
            </td>
            <td class=lightbluetable align="right">顧問迄日：</td>
            <td class=whitetablebg><input type=text jq-datepicker ng-model="Cust.con_term" size=10 class="sedit" readonly>
        </tr>
        <tr>
            <td class=lightbluetable align=right>專利客戶等級：</td>
            <td class=whitetablebg>
                <select ng-model=Cust.plevel size=1 disabled>
                    <option value="" style="color:blue">請選擇</option>
                    <option value="A">大客戶</option>
                    <option value="B">中客戶</option>
                    <option value="C">小客戶</option>
                    <option value="L">流失客戶</option>
                    <option value="O">結束客戶</option>
                </select>
            </td>
            <td class=lightbluetable align=right>商標客戶等級：</td>
            <td class=whitetablebg>
                <select ng-model=Cust.tlevel size=1 disabled>
                    <option value="" style="color:blue">請選擇</option>
                    <option value="A">大客戶</option>
                    <option value="B">中客戶</option>
                    <option value="C">小客戶</option>
                    <option value="L">流失客戶</option>
                    <option value="O">結束客戶</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class=lightbluetable align=right>專利折扣代碼：</td>
            <td class=whitetablebg>
                <select ng-model="Cust.pdis_type" size=1 disabled>
                    <option value="" style="color:blue">請選擇</option>
                    <option ng-repeat="t in optDisType" value="{{t.cust_code}}">{{t.cust_code}}---{{t.code_name}}</option>
                </select>
            </td>
            <td class=lightbluetable align=right>商標折扣代碼：</td>
            <td class=whitetablebg>
                <select ng-model="Cust.tdis_type" size=1 disabled>
                    <option value="" style="color:blue">請選擇</option>
                    <option ng-repeat="t in optDisType" value="{{t.cust_code}}">{{t.cust_code}}---{{t.code_name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class=lightbluetable align=right>專利付款條件：</td>
            <td class=whitetablebg>
                <select ng-model="Cust.ppay_type" size=1 disabled>
                    <option value="" style="color:blue">請選擇</option>
                    <option ng-repeat="t in optPayType" value="{{t.cust_code}}">{{t.cust_code}}---{{t.code_name}}</option>
                </select>
            </td>
            <td class=lightbluetable align=right>商標付款條件：</td>
            <td class=whitetablebg>
                <select ng-model=Cust.tpay_type size=1 disabled>
                    <option value="" style="color:blue">請選擇</option>
                    <option ng-repeat="t in optPayType" value="{{t.cust_code}}">{{t.cust_code}}---{{t.code_name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class=lightbluetable align=right>備註說明：</td>
            <td class=whitetablebg colspan=3><textarea rows=5 cols=80 class="sedit" readonly ng-model=Cust.mark></textarea>
        </tr>
    </table>
</div>

